Data downloaded from https://www.kaggle.com/c/fake-news/data?select=test.csv

train.csv: A full training dataset with the following attributes:

    id: unique id for a news article
    title: the title of a news article
    author: author of the news article
    text: the text of the article; could be incomplete
    label: a label that marks the article as potentially unreliable
        1: unreliable
        0: reliable

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [73]:
fake = pd.read_csv('news/Fake.csv')
true = pd.read_csv('news/True.csv')

In [83]:
fake.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",false
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",false
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",false
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",false
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",false

In [75]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [76]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [77]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

### Cleaning

In [78]:
#track fake vs true news
true['target'] = 'true'
fake['target'] = 'false'

In [79]:
#Combine both dataframes
df_combined = pd.concat([true, fake])
df_combined.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true

In [80]:
df_combined.target.value_counts()

false    23481
true     21417
Name: target, dtype: int64

In [81]:
#Remove columns that won't be used
df_combined = df_combined.drop(['title', 'date'], axis = 1)
df_combined.head()

                                                text       subject target
0  WASHINGTON (Reuters) - The head of a conservat...  politicsNews   true
1  WASHINGTON (Reuters) - Transgender people will...  politicsNews   true
2  WASHINGTON (Reuters) - The special counsel inv...  politicsNews   true
3  WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews   true
4  SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews   true

In [86]:
# Convert to lowercase
df_combined['text'] = df_combined['text'].str.lower()
df_combined

                                                    text       subject target
0      washington (reuters) - the head of a conservat...  politicsNews   true
1      washington (reuters) - transgender people will...  politicsNews   true
2      washington (reuters) - the special counsel inv...  politicsNews   true
3      washington (reuters) - trump campaign adviser ...  politicsNews   true
4      seattle/washington (reuters) - president donal...  politicsNews   true
...                                                  ...           ...    ...
23476  21st century wire says as 21wire reported earl...   Middle-east  false
23477  21st century wire says it s a familiar theme. ...   Middle-east  false
23478  patrick henningsen  21st century wireremember ...   Middle-east  false
23479  21st century wire says al jazeera america will...   Middle-east  false
23480  21st century wire says as 21wire predicted in ...   Middle-east  false

[44898 rows x 3 columns]

In [88]:
# Remove punctuation
df_combined['text'] = df_combined['text'].str.replace('[^\w\s]','')
df_combined

                                                    text       subject target
0      washington reuters  the head of a conservative...  politicsNews   true
1      washington reuters  transgender people will be...  politicsNews   true
2      washington reuters  the special counsel invest...  politicsNews   true
3      washington reuters  trump campaign adviser geo...  politicsNews   true
4      seattlewashington reuters  president donald tr...  politicsNews   true
...                                                  ...           ...    ...
23476  21st century wire says as 21wire reported earl...   Middle-east  false
23477  21st century wire says it s a familiar theme w...   Middle-east  false
23478  patrick henningsen  21st century wireremember ...   Middle-east  false
23479  21st century wire says al jazeera america will...   Middle-east  false
23480  21st century wire says as 21wire predicted in ...   Middle-east  false

[44898 rows x 3 columns]

In [ ]:
#Remove stopwords

### Exploration